    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5F5F5;
}

.top-header {
    background: #f8f8f8;
    padding: 10px 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.phone {
    font-family: 'Inter', sans-serif;
}

.callback-btn {
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
}

        /* Навигация */
.main-nav {
    padding: 20px 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #000;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
}

/* Главный баннер */
.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/Задний\ фон.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.catalog-btn {
    background: white;
    color: black;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}